---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
      <h1>Disclaimer</h1>
        Effective date: February 24, 2026<br>
        <br>
        EddiesGames provides browser games and content for entertainment and informational purposes only.<br>
        <br>
        Games are provided “as is” without guarantees of performance, availability, or accuracy.<br>
        <br>
        We are not responsible for any losses, damages, or issues arising from use of the site.<br>
        <br>
        We may change or remove features, games, or content at any time.<br>
        <br>
        If you do not agree with this disclaimer, please do not use the site.<br>
        <br>
        Contact: <a href="mailto:eddie@eddiesgames.xyz">eddie@eddiesgames.xyz</a>
</BaseLayout>